*{
    padding: 0px;
    margin: 0px;
}

@keyframes anim{
    0% {background-color: rgb(10, 10, 10);}
    20% {background-color: rgb(17, 17, 16);}
    40% {background-color: rgb(29, 29, 28);}
    70% {background-color: rgb(29, 29, 28);}
    100% {background-color: rgb(0, 0, 0);}
}

body{
animation-name: anim;
animation-duration: 6s;
animation-iteration-count: infinite;
}
nav{
    background-color: rgb(29, 26, 26);
}

.logo__img{
    height: 80px;
    width: 100px;
}

.title__index{
    display: flex;
    justify-content: center;
    background: rgb(41,9,69);
    background: linear-gradient(336deg, rgba(41,9,69,1) 0%, rgba(16,20,20,1) 33%);
    border: 4px solid rgb(63, 0, 82);
    border-radius: 4px;

}

h1 {
    color: rgb(158, 90, 221);
    padding: 20px;
}


.car1{
    width: 100%;
    height: 100%;
}

.carousel-item{
    height: 456px;

}


.nav-link{
    color: rgb(121, 53, 185);
    transition-duration: 2s;
}
.nav-link:hover{
    color: bisque;
    scale: 1,5;
}

.title2{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid rgb(63, 0, 82);
    border-radius: 4px;
}

h2{
    padding: 20px;
    color: rgb(158, 90, 221);
}
.ar__cards{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10px;
}
.card{
    margin: 30px;
}
.ar_cards2{
    display: flex;
    flex-direction: column;

}
.jl{
    height: 286px;
    width: 286px;
    padding: 20px;
}

.card__1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.footer__container{
    margin: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid whitesmoke;
    border-radius: 2px;
    margin-top: 30px;
}

iframe{
    border: 5px solid blueviolet;
    border-radius: 4px;
    transition-duration: 2s;
}

iframe:hover{
    border: 5px solid blue;
}

.logo__container{
    display: flex;
    flex-direction: column;
}

.logof{
    height: 25px;
    width: 25px;
    margin: 5px;
}

.footer p{
    color: rgb(238, 234, 241);
}