
%body__animation{
    animation-name: anim;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

%titles {
    color: rgb(158, 90, 221);
    padding: 20px;
}

%flexcards{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

%card__img__size{
    height: 286px;
    width: 286px;
}